.chat-bg {
    background-color: #121825;
    max-width: 750px;
    border: 1px solid white;
    border-radius: 15px;
    padding: 30px;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chat-header {
    display: flex;
    align-items: center;
}

